- model_class = Site
.page-header
  %h1=t '.title', :default => model_class.model_name.human.titleize

%p
  %strong= model_class.human_attribute_name(:category_id) + ':'
  %br
  = @site.category if @site.category.present?
%p
  %strong= model_class.human_attribute_name(:title) + ':'
  %br
  = @site.title
%p
  %strong= model_class.human_attribute_name(:url) + ':'
  %br
  = @site.url
%p
  %strong= model_class.human_attribute_name(:description) + ':'
  %br
  = @site.description

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), admin_sites_path, :class => 'button small secondary'
  = link_to t('.edit', :default => t("helpers.links.edit")), edit_admin_site_path(@site), :class => 'button small secondary'
  = link_to t('.destroy', :default => t("helpers.links.destroy")), admin_site_path(@site), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'button small alert'
